@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
    text-align: center;
    border-bottom: 1px solid grey;
}
