
.container {
    font-family: 'Comfortaa', cursive;
    ul {
        list-style-type: none;
        margin: 0;padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        li {
            margin-top: 4em;
            text-align: center;
            width: 40em;
            border-bottom: 1px solid lightgrey;
            p {
                font-size: 3em;
                margin: 0em;
            }
            small {
                margin-bottom: .2em;
            }
        }
    }
}
